# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages in Data Science.
- Popular Libraries in Data Science.
- Creating tables in Jupyter Notebook.
- Performing basic arithmetic operations.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Hadoop      |
| MATLAB             |

### Below are a few examples evaluating arithmetic expressions in Python.

In [1]:
#This is a simple arithmetic expression to multiply then add integers. 
print((3*4)+5)

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60
print(200/60)

3.3333333333333335

## Author
Adyot Bose